/**********************  
  HEADER
**********************/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Secular+One&family=Source+Sans+Pro&display=swap');

header .wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: orangered 2px solid; */
}

p {
	font-family: 'Secular One', sans-serif;
}

.userName {
	text-align: center;
	font-family: 'Secular One', sans-serif;
	font-size: 2.4rem;
	text-transform: capitalize;
	color: rgb(189, 189, 189);
	width: auto;
	background-color: transparent;
	border: none;
}

.headerLogoBox {
	font-family: 'Secular One', sans-serif;
	font-size: 1.6rem;
	display: flex;
	text-transform: uppercase;
	/* border: orangered 2px solid; */
}

.headerLogoBox p {
	font-size: 7px;
	letter-spacing: 1.7px;
	background-color: #f3904f;
	padding: 2px;
}

.date {
	font-family: 'Secular One', sans-serif;
	font-size: 11px;
	color: white;
	background-color: #f3904f;
	padding: 2px;
}

.clock {
	font-family: 'Secular One', sans-serif;
	font-size: 1.5rem;
	color: white;
}

.dateTimeBox {
	display: flex;
	flex-direction: column;
}

.logoClockBox {
	display: flex;
	justify-content: space-between;
	padding-top: -2rem;
	position: relative;
	top: -2rem;
}

/*     font-family: 'Architects Daughter', cursive;

    font-family: 'Secular One', sans-serif;

    font-family: 'Source Sans Pro', sans-serif; */
